{% extends 'base.html.twig' %}

{% block title %}
    Article
{% endblock title %}

{% block body %}

    <h1>Article</h1>

    <article>
        <h2>{{ postId.title }}</h2>
        <p>{{ postId.content }}</p>
        <p>{{ postId.author.fullName }}</p>
        <time> {{ postId.publishedAt | date('d/m/Y H:i:s', 'Europe/Paris') }}  </time>
    </article>


{% endblock body %}